// Base class
//
// Requires one of the contextual, color modifier classes for `color` and
// `background-color`.

$badge-background: rgba(shift-color($theme-color, 60%), .8);
$badge-color: $theme-color;

.badge {
  display: inline-block;
  padding: $badge-padding-y $badge-padding-x;
  font-weight: $badge-font-weight;
  line-height: $badge-line-height;
  @include border-radius($badge-border-radius);
  text-transform: $badge-text-transform;
  margin: $badge-margin;
  background: $badge-background;
  color: $badge-color;
  font-size: 1.1rem;

  // Empty badges collapse automatically
  &:empty {
    display: none;
  }
}

// Quick fix for badges in buttons
.btn .badge {
  position: relative;
  top: -1px;
}

// .badge-circle {
//   text-align: center;
//   display: inline-flex;
//   align-items: center;
//   justify-content: center;
//   border-radius: 50%;
//   width: 2rem;
//   height: 2rem;
//   font-size: .875rem;
// }

// // Multiple inline badges
// .badge-inline {
//   margin-right: .625rem;
// }

// .badge-inline+span {
//   top: 2px;
//   position: relative;
// }

// .badge-inline+span>a {
//   text-decoration: underline;
// }

// // Sizes
// .badge-md {
//   padding: .65em 1em;
// }

// .badge-lg {
//   padding: .85em 1.375em;
// }


// .btn {
//   .badge {
//     &:not(:first-child) {
//       margin-left: .5rem;
//     }

//     &:not(:last-child) {
//       margin-right: .5rem;
//     }
//   }
// }