// Buttons

// Local Variables
$btn-background: shift-color($btn-base-color, $btn-bg-scale);
$btn-background-hover: shift-color($btn-base-color, 10%);
$btn-color-border: shift-color($btn-base-color, $btn-color-border-scale);
$btn-color: shift-color($btn-base-color, $btn-color-scale);

$btn-outline-color: $btn-background;
$btn-arrow-color: $btn-background;
$btn-outline-bg: transparent;
$btn-arrow-bg: transparent;

@if (contrast-ratio($btn-background, $btn-color) < $min-contrast-ratio) {
  $btn-color: mix($btn-base-color, color-contrast($btn-background, white, black, $min-contrast-ratio), abs($btn-bg-scale));
}

.btn,
button {
  display: inline-block;
  font-weight: $btn-font-weight;
  color: $btn-color;
  background: $btn-background;
  text-align: center;
  vertical-align: middle;
  // -webkit-user-select: none;
  // -ms-user-select: none;
  // user-select: none;
  border: $btn-border-width solid $btn-color-border;
  padding: $btn-padding-y $btn-padding-x;
  font-size: $btn-font-size;
  // line-height: $input-btn-line-height;
  line-height: $btn-line-height;
  border-radius: $btn-border-radius;
  transition: all .13s ease;

  //Btn Content format
  position: relative;
  text-transform: $btn-text-transform;
  will-change: transform;
  letter-spacing: $btn-letter-spacing;

  // For Icons
  &-icon {
    width: 2.375rem;
    height: 2.375rem;
    padding: 0;
    border-radius: 50%;
    line-height: 2.5;
  }

  &:hover {
    transform: translateY(-2px);
    // text-decoration: none;
    color: $btn-color;
    background: $btn-background-hover;
    font-style: normal;
  }
}

.btn-outline {
  background: $btn-outline-bg;
  color: $btn-outline-color;

  &:hover {
    transform: none;
  }
}

.btn-arrow {
  background: $btn-arrow-bg !important;
  color: $btn-arrow-color !important;
  border: none;
  text-align: left;

  &::after {
    content: '\2192';
    margin-left: .25em;
  }

  &:hover {
    transform: none;

    &::after {
      margin-left: .5em;
    }
  }
}
