// Navbar
// Huge inspiration from https://www.aleksandrhovhannisyan.com/blog/responsive-navbar-without-bootstrap/

// Local Variables
$navbar-background: rgba(
  shift-color($navlink-base-color, $navbar-bg-scale),
  0.6
);
$navlink-background: shift-color($navlink-base-color, $navlink-bg-scale);
$navlink-color-border: shift-color(
  $navlink-base-color,
  $navlink-color-border-scale
);
$navlink-color: shift-color($navlink-base-color, $navlink-color-scale);

@if (
  contrast-ratio($navlink-background, $navlink-color) < $min-contrast-ratio
) {
  $navlink-color: mix(
    $navlink-base-color,
    color-contrast($navlink-background, white, black, $min-contrast-ratio),
    abs($navlink-bg-scale)
  );
}

.navbar {
  position: relative;
  background-color: $navbar-background;
  width: 100%;
  min-height: $navbar-height;
  padding: $navbar-padding-y $navbar-padding-x;

  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: $navbar-width;
  }

  &-brand {
    margin-right: 0.5em;

    img {
      min-width: 30px;
    }
  }

  &-nav {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &-toggler {
    cursor: unset;
    background-color: transparent;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    border: 0;

    &:hover,
    &:focus {
      background-color: inherit;
      color: inherit;

      .icon-bar {
        background-color: $navlink-color;
      }
    }
  }
}

.nav {
  &-item {
    margin: $navitem-margin;
    text-align: $navitem-text-align;
    align-self: $navitem-align-self;
  }

  &-link {
    justify-content: $navlink-justify-content;
    padding: $navlink-padding;
    text-transform: $navlink-text-transform;
    border-radius: $navlink-border-radius;
    transition: $navlink-transition;
    color: $navlink-color;

    &:hover {
      color: $navlink-color;
      background-color: $navlink-background;
      font-style: $navlink-hover-font-style;
    }
  }
}

.sticky-top {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  margin-top: -1px; // To prevent gaping issues
  z-index: 1030;
}

.icon-bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 3px;
  transition: $navbar-iconbar-transition;
  background-color: $navlink-color;
}

.navbar.opened .navbar-toggler .icon-bar:first-child,
.navbar.opened .navbar-toggler .icon-bar:last-child {
  position: absolute;
  margin: 0;
  width: 30px;
}

.navbar.opened .navbar-toggler .icon-bar:first-child {
  transform: rotate(45deg);
}

.navbar.opened .navbar-toggler .icon-bar:nth-child(2) {
  opacity: 0;
}

.navbar.opened .navbar-toggler .icon-bar:last-child {
  transform: rotate(-45deg);
}

@include media-breakpoint-down("md") {
  .navbar-toggler {
    display: flex;
  }

  #navbar-menu {
    transition: $navbar-menu-transition;
    visibility: hidden;
    display: none;
  }

  .navbar.opened #navbar-menu {
    visibility: visible;
    display: flex;
    width: 100vw;
    min-height: 100vh - $navbar-height;
    // align-items: center;
    justify-content: center;
  }

  .navbar.opened .navbar-nav {
    flex-direction: column;
  }
}
