// Close button

// Local Variables
$close-background: shift-color($close-base-color, $close-bg-scale);
$close-color: shift-color($close-base-color, $close-color-scale);

@if (contrast-ratio($close-background, $close-color) < $min-contrast-ratio) {
    $close-color: mix($close-base-color, color-contrast($close-background, white, black, $min-contrast-ratio), abs($close-bg-scale));
}

.no {

    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 4px;
        height: rfs-fluid-value(1.5rem);
        border-radius: 3em;
        right: 2.5em;
        top: 10px;
        background: $close-color;
        z-index: $stretched-link-z-index + 1;
    }

    &::before {
        transform: rotate(45deg) translateY(-5.5px) translateX(13.5px);
    }

    &::after {
        transform: rotate(-45deg) translateY(13.5px) translateX(5.5px);
    }
}

.ok {

    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 4px;
        height: rfs-fluid-value(1rem);
        border-radius: 3em;
        background: $close-color;
    }

    &::after {
        height: 8px;
        transform: rotate(-45deg) translateY(10px) translateX(-4px) scale(1);
    }

    &::before {
        transform: rotate(45deg) translateY(-5px) translateX(10px) scale(1);
    }
}