// Tags

// Local Variables
$tag-background: shift-color($tag-base-color, $tag-bg-scale);
$tag-color-border: shift-color($tag-base-color, $tag-color-border-scale);
$tag-color: shift-color($tag-base-color, $tag-color-scale);

@if (contrast-ratio($tag-background, $tag-color) < $min-contrast-ratio) {
  $tag-color: mix(
    $tag-base-color,
    color-contrast($tag-background, white, black, $min-contrast-ratio),
    abs($tag-bg-scale)
  );
}

.tag {
  display: inline-block;
  padding: $tag-padding-y $tag-padding-x;
  font-size: $tag-font-size;
  text-transform: $tag-text-transform;
  line-height: $tag-line-height;
  text-align: center;
  // white-space: nowrap;
  // vertical-align: baseline;
  letter-spacing: 1px;
  color: $tag-color;
  font-weight: $tag-font-weight;
  // @include transition($tag-transition);
  @include border-radius($tag-border-radius);
  background-color: $tag-background;
  margin: $tag-margin;

  &:hover {
    &:before {
      content: "#";
    }

    color: $tag-color !important;
  }
}

@include media-breakpoint-down("lg") {
  .tag {
    padding: $tag-mobile-padding-y $tag-mobile-padding-x;
    margin: $tag-mobile-margin;
  }
}
