// Various Utility Classes

// For blurring things up
.backdrop {
    @include backdrop-blur($navbar-blur-radius);
}

.text-align-center {
    text-align: center;
}

.hide {
    opacity: 0;
    visibility: hidden;
    display: none;
}

.show {
    opacity: 100% !important;
    visibility: visible !important;
    display: block !important;
}

.trans {
    color: inherit !important;

    &:hover {
        font-style: normal;
    }
}