//
// Headings
//

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  // font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

h1 {
  @include font-size($h1-font-size);
}

h2 {
  @include font-size($h2-font-size);
}

h3 {
  @include font-size($h3-font-size);
}

h4 {
  @include font-size($h4-font-size);
}

h5 {
  @include font-size($h5-font-size);
}

h6 {
  @include font-size($h6-font-size);
}

@include media-breakpoint-up('xl') {
  h1 {
    font-size: $h1-font-size
  }

  h2 {
    font-size: $h2-font-size;
  }

  h3 {
    font-size: $h3-font-size;
  }

  h4 {
    font-size: $h4-font-size;
  }
}

.lead {
  @include font-size($lead-font-size);
  font-weight: $lead-font-weight;
}

// Type display classes
.display-1 {
  @include font-size($display1-size);
  font-weight: $display1-weight;
  line-height: $display-line-height;
}

.display-2 {
  @include font-size($display2-size);
  font-weight: $display2-weight;
  line-height: $display-line-height;
}

.display-3 {
  @include font-size($display3-size);
  font-weight: $display3-weight;
  line-height: $display-line-height;
}

.display-4 {
  @include font-size($display4-size);
  font-weight: $display4-weight;
  line-height: $display-line-height;
}

.sans {
  font-family: $font-family-sans-serif; 
}

.serif {
  font-family: $font-family-serif;
}

.mono {
  font-family: $font-family-monospace;
}


//
// Horizontal rules
//

hr {
  margin: $hr-margin-y auto;
  border: 0;
  border-top: $hr-border-width solid $hr-border-color;
  width: 20%;
}


//
// Emphasis
//

small,
.small {
  @include font-size($small-font-size);
  font-weight: $font-weight-normal;
}

mark,
.mark {
  padding: $mark-padding;
  background-color: $mark-bg;
}


//
// Lists
//

// .list-unstyled {
//   @include list-unstyled;
// }

// // Inline turns list items into inline-block
// .list-inline {
//   @include list-unstyled;
// }

// .list-inline-item {
//   display: inline-block;

//   &:not(:last-child) {
//     margin-right: $list-inline-padding;
//   }
// }


//
// Misc
//

// Builds on `abbr`
.initialism {
  // @include font-size(90%);
  text-transform: uppercase;
}

// code to add little snippets. Markdown example `@include`
code {
  padding: .05em .1em;
  border-radius: $border-radius;
  font-family: $font-family-monospace;
  // background-color: shift-color($theme-color, 20%);
  background-color: $mizui-background;
  color: $mizui-color;
}

// Blockquotes to add certain info.
blockquote {
  text-align: center;
  padding: 1em;
  color: shift-color($theme-color, -20%);
  font-family: $font-family-monospace;
  @include font-size($blockquote-font-size);

  &::before {
    content: '\201C';
  }

  &::after {
    content: '\201E';
  }
}